body {  
  background-image:url('./images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  font-family: 'Roboto',sans-serif;
} 

.app{
  margin: 0;
}